{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="container">


    {{ include('admin/admin_category/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <div class="back-to-list mt-3">
        <a class="btn btn-secondary" href="{{ path('app_admin_category_index') }}">Retour</a>
    </div>
    </div>
{% endblock %}
