{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('admin/admin_category/_form.html.twig') }}
    <div class="back-to-list mt-3">
        <a href="{{ path('app_admin_category_index') }}" class="btn btn-secondary">Retour</a>
    </div>
{% endblock %}
